doctype html
html
	head
		title pHAT Log
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		script(src='/bootstrap/js/bootstrap.min.js')
	body
		div.container
			h1 pHAT
			div.row.col-md-2.col-md-offset-1
				img(src='/public/images/en-phat.png', style="height: 150px;")
			
		div.row.col-md-12#footer(style="padding-left: 20px;")
		a(href="https://shop.pimoroni.com/products/enviro-phat") Shop