doctype html
html
	head
		title pHAT Log
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		script(src='/jquery/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
		script(src='/chart/Chart.min.js')
	body
		div.container
			div.row.col-md-10.col-md-offset-1
				div#header(style="text-align: center;")
					h3 Enviro pHAT - Status
					img(src='/public/images/en-phat.png', style="height: 150px;")

				form(style="margin-top: 20px;")
					div.form-group
						label Log:
						textarea.form-control(style="height: 300px; font-family: Courier") #{rows}

		div.row.col-md-10.col-md-offset-1(style="border: 1 solid black")
			a(href="https://shop.pimoroni.com/products/enviro-phat") Where do I get one?
		
		div(class="row col-md-4")
			canvas(id="myChart" width="100px" height="100px")

	script.
		var ctx = document.getElementById("myChart")
			var myChart = new Chart(ctx, {
				type: 'line',
				data: [1, 2, 3, 4, 5, 6],
				options: {
					scales: {
						yAxes: [{
							ticks: {
								beginAtZero:true
							}
						}]
					}
				}
			})